<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Escriba su cedula si esta ya inscrito en el sistema</h1>
    <form action="{% url 'salesite:order' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="ci">C.I</label>
            <input type="text" class="form-control" id="ci" name="ci" placeholder="Ingrese su Cedula de Identidad">
        </div>
        </br>
        <input type="submit" value="Siguiente">
    </form>
</body>
</html>