<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main menu</title>
</head>
<body>
    <h1>Sandwiches UCAB</h1>
    <div>
        <form action="/store/index">
            <input type="submit" value="Sandwiches UCAB" />
        </form>
        <br>
        <form action="/admin">
            <input type="submit" value="Sitio administrativo" />
        </form>
    </div>
</body>
<!-- <footer>Sandwiches UCAB 2021</footer> -->
</html>