<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido {{ customer_order.name }} {{ customer_order.last_name }}</h1>
    <p>ordene el tamaño y ingredientes extras de su sandwich</p>
    <form action="{% url 'salesite:receipt' customer_order.id %}" method="post">
        {% csrf_token %}
        <p> Eliga que tamaño de sandwich desea </p>
        {% for size in sandwich_size %}
            <input 
                type="checkbox" 
                name="size" 
                id="size{{ forloop.counter }}" 
                value="{{ size.id }}"
            >
            <label for="size{{ forloop.counter }}">
                {{ size.size_descripcion }} - {{ size.size_price }}
            </label>
            </br>
        {% endfor %}
        <p> Eliga el ingrediente extra de sandwich que desee </p>
        {% for ingredient in sandwich_ingredient %}
            <input 
                type="checkbox" 
                name="ingredient" 
                id="ingredient{{ forloop.counter }}" 
                value="{{ ingredient.id }}"
            >
            <label for="ingredient{{ forloop.counter }}">
                {{ ingredient.ingredient_descripcion }} - {{ ingredient.ingredient_price }}
            </label>
            </br>
        {% endfor %}
        </br>
        <input type="submit" value="Ordene su pedido">
    </form>
</body>
</html>