<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Factura de orden del cliente {{ customer.name }} {{ customer.last_name }}</h1>
    <p>Fecha de orden: {{ order.order_date }}</p>
    {% for sandwich in sandwiches_order %}
        <p>Sandwich número {{ forloop.counter }} </p>
        <p>Tamaño del Sandwich: {{ sandwich.size.size_descripcion }}</p>
        <p>Ingredientes del Sandwich: </p>
        <ul>
            {% for ingredient_sandwich in ingredient_sandwich_list %}
                {% for ingredient in ingredient_sandwich %}
                    {% if ingredient.sandwich_id == sandwich.id %}
                        <li>{{ ingredient.ingredient.ingredient_descripcion }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endfor %}
    <p>Total de sandwiches pedidos: {{ quantity_sandwiches }}</p>
    <p>Total de orden: {{ order.order_total }}</p>
    <p><a href="{% url 'polls:order' %}">Desea realizar otra orden?</a></p>
    <p><a href="{% url 'polls:index' %}">Regresar a la pagina principal</a></p>
</body>
</html>